<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jarhero790.eub">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.Camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/httpxml"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".message.my.PlayVideoActivity"></activity>
        <activity android:name=".message.souye.SearchResultActivity" />
        <activity android:name=".message.souye.SearchActivity" />
        <activity
            android:name=".message.message.ConversationListActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.jarhero790.eub"
                    android:pathPrefix="/conversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity
            android:name=".message.message.ConversationActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.jarhero790.eub"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity android:name=".message.my.GuangZuActivity" />
        <activity android:name=".message.message.PrivateJiuBaoActivity" />
        <activity android:name=".message.message.JiuBaoActivity" />
        <activity android:name=".message.message.MoreActivity" />
        <activity android:name=".message.message.GeRenInfoActivity" />
        <activity android:name=".message.message.SysMessageActivity" />
        <activity android:name=".message.my.XieYiActivity" />
        <activity android:name=".message.message.AboutActivity" />
        <activity android:name=".message.my.SettingActivity" />
        <activity android:name=".message.message.JiangLiActivity" />
        <activity android:name=".message.message.GiftActivity" />
        <activity android:name=".message.message.PinLenActivity" />
        <activity android:name=".message.message.ZanActivity" />
        <activity android:name=".message.my.QianDaoActivity" /> <!-- android 全面屏 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" /> <!-- 融 -->
        <meta-data
            android:name="RONG_CLOUD_APP_KEY"
            android:value="82hegw5u8d8dx"
            tools:replace="android:value" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.jarhero790.eub.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AttentionUsersActivity" />
        <activity android:name=".record.TCVideoRecordActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.UserNameLoginActivity" />
        <activity android:name=".activity.PhoneLoginActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.RegisterByPhoneActivity" />
        <activity android:name=".activity.RegisterByUsernameActivity" />
        <activity android:name=".activity.FensiActivity" />
        <activity
            android:name=".message.LoginNewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".message.LoginPhoneActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>